In [11]:
import ahocorasick
import pickle

In [3]:
food = pickle.load(open('../data/food.pickle','rb'))
activity = pickle.load(open('../data/activity.pickle','rb'))

In [7]:
len(food), len(activity)

(828, 131)

# Key word for food

In [9]:
print(food)

{' beet green ', ' vegetable juice ', ' tortilla ', ' bean ', ' cereal ', ' kohlrabi ', ' collard ', ' carrot ', ' mushroom ', ' mulberry ', ' poi ', ' silk plus fiber ', ' margarine ', ' leaven agent ', ' pickle relish ', ' marmalade ', ' melon ball ', ' fat free ice cream ', ' tempeh ', ' mountain yam ', ' pea carrot ', ' crustacean ', ' pudding ', ' silk black cherry soy yogurt ', ' wheat bran ', ' milk cereal bar ', ' butter replacement ', ' schar ', ' pumpkin pie mix ', ' fruit juice smoothie ', ' mustard green ', ' stew ', ' lemonade ', ' chrysanthemum ', ' chick fil ', ' cardoon ', ' prickly pear ', ' peach ', ' pie crust ', ' pizza hut 14 pepperoni pizza ', ' frijol rojos volteado refri bean ', ' durian ', ' bamboo shoot ', ' potato chip ', ' tomato ', ' rice bran ', ' fruit syrup ', ' wheat ', ' goose ', ' silk chai ', ' shorten ', ' epazote ', ' clementine ', ' oscar mayer ', ' sugar ', ' thyme ', ' tortilla chip ', ' honey ', ' pomegranate ', ' alcoholic beverage ', ' kraft breakstone s free fat free sour cream ', ' silk banana strawberry soy yogurt ', ' silk light vanilla ', ' cracker barrel ', ' blackberry juice ', ' tomatillo ', ' puff pastry ', ' vegetable ', ' bratwurst ', ' radish ', ' ruff grouse ', ' bacon bit ', ' rice roni ', ' split pea soup ', ' sugar apple ', ' squab ', ' cream ', ' crouton ', ' beverage ', ' falafel ', ' pigeonpea ', ' tomato product ', ' mcdonald s ', ' macaroni cheese ', ' hormel pillow pak slice turkey pepperoni ', ' pineapple juice ', ' fruit salad ', ' taro leaf ', ' sapote ', ' arby s ', ' jute ', ' cake ', ' mollusk ', ' little caesar 14 original round cheese pizza ', ' silk strawberry soy yogurt ', ' biscuit ', ' hummus ', ' pitanga ', ' potato soup ', ' corn grain ', ' apple ', ' lamb ', ' honey roll sausage ', ' chocolate flavor hazelnut spread ', ' litchis ', ' peanut spread ', ' meatball ', ' jimmy dean ', ' focaccia ', ' frozen yogurt ', ' maraschino cherry ', ' beef ', ' cucumber ', ' shake ', ' stinging nettle ', ' natto ', ' pomegranate juice ', ' oil ', ' salmon ', ' pillsbury golden layer buttermilk biscuit ', ' papa john s 14 work pizza ', ' fruit butter ', ' pumpkin ', ' roselle ', ' couscous ', ' chocolate ', ' ice cream ', ' soup ', ' chicken pot pie ', ' tangerine ', ' carissa ', ' buckwheat flour ', ' silk original creamer ', ' popcorn ', ' bison ', ' gum ', ' sausage ', ' mayonnaise dressing ', ' radicchio ', ' spaghetti ', ' grapefruit juice ', ' artichoke ', ' meat extender ', ' parsley ', ' chicken patty ', ' little caesar 14 original round pepperoni pizza ', ' little caesar 14 pepperoni pizza ', ' syrup ', ' hungry man ', ' drumstick pod ', ' guava nectar ', ' dumpl ', ' orange pineapple juice blend ', ' glutino ', ' vermicelli ', ' granola bar ', ' hormel ', ' silk hazelnut creamer ', ' papaya ', ' popover ', ' kefir ', ' spinach ', ' pizza ', ' cranberry ', ' luxury loaf ', ' pepper ', ' celeriac ', ' pumpkin flower ', ' orange ', ' nance ', ' abiyuch ', ' chayote ', ' jelly ', ' peanut butter ', ' apple juice ', ' silk french vanilla creamer ', ' macaroni noodle cheese ', ' oat flour ', ' taro shoot ', ' mori nu ', ' wheat germ ', ' mayonnaise ', ' kale ', ' silk vanilla soy yogurt single serve size ', ' sorghum grain ', ' rye grain ', ' broccoli ', ' house food premium firm tofu ', ' incaparina ', ' keikito muffin ', ' sauerkraut ', ' eggnog ', ' olive ', ' banquet ', ' cheese substitute ', ' ravioli ', ' shorten cake mix ', ' mckee baking ', ' gelatin dessert ', ' lasagna meat sauce ', ' potato salad egg ', ' cauliflower ', ' domino s 14 pepperoni pizza ', ' rise hip ', ' jellyfish ', ' corn dog ', ' roast beef spread ', ' grapefruit ', ' escarole ', ' vegetarian meatloaf patty ', ' persimmon ', ' orange juice ', ' millet flour ', ' lemon juice concentrate ', ' wonton wrapper include egg roll wrapper ', ' duck ', ' guanabana nectar ', ' rice cake ', ' egg ', ' kiwifruit ', ' celtuce ', ' lupin ', ' teff ', ' turkey breast ', ' celery ', ' butter oil ', ' popeye ', ' bulgur ', ' yautia tanni ', ' english muffin ', ' silk light plain ', ' garlic ', ' peanut ', ' sage valley ', ' chicory green ', ' olive garden ', ' lime juice ', ' crabapple ', ' whip topping ', ' wendy s ', ' sour cream ', ' amaranth grain ', ' carrot juice ', ' campbell s ', ' turnover ', ' guava ', ' danish pastry ', ' turnip green turnip ', ' fungus ', ' longan ', ' horn melon kiwano ', ' caribou ', ' margarine like spread ', ' drumstick leaf ', ' lentil ', ' papa john s 14 pepperoni pizza ', ' vitasoy usa ', ' whale ', ' pear ', ' sour dressing ', ' soymilk flavor ', ' imitation cheese ', ' pigeon pea red gram ', ' pizza hut 12 super supreme pizza ', ' turkey roast ', ' turtle ', ' triticale ', ' pepeao ', ' silk light chocolate ', ' zwieback ', ' frankfurter ', ' cocoa mix ', ' cherry ', ' watermelon ', ' beef pot pie ', ' pear nectar ', ' tostada shell ', ' heinz ', ' pineapple ', ' soy sauce hydrolyze vegetable protein ', ' peanut flour ', ' kraft food ', ' naranjilla lulo pulp ', ' pizza hut 14 sausage pizza ', ' whip cream substitute ', ' kraft breakstone s reduced fat sour cream ', ' wild rice ', ' avocado ', ' pillsbury grand ', ' rice bowl chicken ', ' archway home style cookie ', ' snack ', ' guava sauce ', ' feijoa ', ' sweetener ', ' mcdonald s bacon ranch salad crispy chicken ', ' hominy ', ' andrea s ', ' water convolvulus ', ' vitasoy usa organic nasoya sprout ', ' loganberry ', ' shorten bread ', ' pie ', ' kraft velveeta light reduced fat pasteurized process cheese product ', ' mustard ', ' whiskey sour mix ', ' chicken breast ', ' borage ', ' spinach souffle ', ' bake chocolate ', ' prune ', ' pillsbury ', ' gravy ', ' cinnamon bun ', ' protein supplement ', ' french toast ', ' muffin ', ' soy sauce soy tamari ', ' wheat flour ', ' endive ', ' peach nectar ', ' pasta sliced frank tomato sauce ', ' pumpkin leaf ', ' wendys ', ' cream puff shell ', ' corn red green pepper ', ' ice cream cookie sandwich ', ' margarine like shortening ', ' chard ', ' udi s ', ' frybread ', ' hot pocket ham n cheese stuff sandwich ', ' tamarind ', ' pizza hut 12 pepperoni pizza ', ' domino s 14 extravaganzza feast pizza ', ' blueberry ', ' rice mix ', ' pizza hut ', ' silk key lime soy yogurt ', ' silk coffee ', ' fish ', ' sweet potato leaf ', ' corn ', ' kumquat ', ' passion fruit juice ', ' toaster pastry ', ' poultry salad sandwich spread ', ' orange grapefruit juice ', ' pea onion ', ' millet ', ' luncheon meat ', ' currant ', ' turkey thigh ', ' pastry ', ' spanish rice mix ', ' chive ', ' water ', ' prune juice ', ' ice cream cone ', ' breakfast bar ', ' ruby red grapefruit juice blend grapefruit ', ' sweet potato ', ' nectarine ', ' toddler drink ', ' lard ', ' oheloberrie ', ' raspberry ', ' radish seed ', ' blood sausage ', ' arugula ', ' grape leaf ', ' bologna ', ' rhubarb ', ' pimento ', ' vitasoy usa organic nasoya ', ' boysenberry ', ' lasagna meat amp sauce ', ' soy sauce soy wheat shoyu ', ' papayas ', ' cattail ', ' pate ', ' watercress ', ' lean pocket ', ' liver cheese ', ' mung bean ', ' wing bean ', ' chickpea flour besan ', ' lemon juice ', ' wasabi ', ' fast food ', ' crunchmaster ', ' waxgourd ', ' tgi friday s ', ' oat bran ', ' onion ', ' pizza roll ', ' apricot nectar ', ' vinegar ', ' margarine like ', ' soy protein concentrate ', ' miso ', ' soy flour ', ' pummelo ', ' schiff ', ' soy meal ', ' chicken ', ' canada goose ', ' quince ', ' kfc ', ' okra ', ' turkey ', ' frog leg ', ' cabbage ', ' rice vermicelli mix ', ' burrito ', ' prune puree ', ' van s ', ' flan ', ' frozen novelty ', ' pancak plain ', ' fruit cocktail ', ' elderberry ', ' cherimoya ', ' broccoli raab ', ' light ice cream ', ' pepperidge farm ', ' turnip green ', ' yogurt ', ' mission food ', ' prairie turnip ', ' barley ', ' pork sausage ', ' salt ', ' pastrami ', ' dessert topping ', ' cowpea ', ' cream puff ', ' split pea ham soup ', ' ham cheese loaf roll ', ' strawberry flavor beverage mix ', ' strudel ', ' squash ', ' infant formula ', ' potato ', ' lebanon bologna ', ' chili con carne bean ', ' scrapple ', ' beef composite ', ' semolina ', ' dill weed ', ' pickle pimiento loaf ', ' campbell s chunky ', ' dessert ', ' breadfruit ', ' season mix ', ' pepper loaf ', ' smart soup ', ' shallot ', ' silk mocha ', ' domino s 14 sausage pizza ', ' silk plus omega3 dha ', ' margarine like vegetable oil spread ', ' cranberry juice cocktail ', ' rambutan ', ' ham ', ' kraft cheez whiz pasteurize process cheese sauce ', ' potato pancake ', ' balsam pear bitter gourd ', ' pepperoni ', ' guinea hen ', ' potsticker wonton ', ' waterchestnut ', ' malabar spinach ', ' yellow rice seasoning ', ' cassava ', ' blackberry ', ' java plum ', ' groundcherrie ', ' cheesefurter ', ' shorten industrial ', ' potato flour ', ' pizza hut 14 super supreme pizza ', ' rice cracker ', ' rye flour ', ' asparagus ', ' chicken spread ', ' parmesan cheese topping ', ' interstate brand corp ', ' mammy apple ', ' seed ', ' shorten confectionery ', ' lima bean ', ' passion fruit ', ' pork sausage rice link ', ' grape ', ' child formula ', ' triticale flour ', ' barbecue loaf ', ' cheese food ', ' dandelion green ', ' canadian bacon ', ' beerwurst ', ' tofu yogurt ', ' little caesar 14 cheese pizza ', ' vegetarian fillet ', ' waffle ', ' nopale ', ' refri bean ', ' jackfruit ', ' kraft velveeta pasteurize process cheese spread ', ' bockwurst ', ' jew s ear ', ' ham cheese spread ', ' corn flour ', ' hot pocket ', ' candy ', ' rutabagas ', ' potato salad ', ' peanut butter omega3 ', ' juice ', ' arrowroot flour ', ' pea ', ' ice cream bar ', ' hormel canadian style bacon ', ' edamame ', ' formulate bar ', ' pokeberry shoot ', ' vegetable oil ', ' yachtwurst ', ' spaghetti meat sauce ', ' dulce de leche ', ' cheese product ', ' beet ', ' mangosteen ', ' milk shake ', ' soybean ', ' domino s 14 cheese pizza ', ' barley malt flour ', ' toddler formula ', ' chicory ', ' kraft ', ' tortellini ', ' cereal ready eat ', ' veggie burger soyburger ', ' amaranth leaf ', ' lotus root ', ' jam preserve ', ' noodle ', ' cream substitute ', ' cheese spread ', ' cheese ', ' yokan ', ' pan dulce ', ' veal ', ' lambsquarter ', ' salad dressing ', ' papaya nectar ', ' yardlong bean ', ' cornmeal ', ' animal fat ', ' dock ', ' quail ', ' cherry juice ', ' dove ', ' peppermint ', ' turnip ', ' brussel sprout ', ' cheese puff twist ', ' taquito ', ' silk plain ', ' molass ', ' nutritional supplement people diabete ', ' kanpyo ', ' tangerine juice ', ' roast beef ', ' salisbury steak gravy ', ' soy sauce ', ' oats include food usda s food distribution program ', ' rosemary ', ' milk ', ' luncheon slice ', ' taco bell ', ' cornstarch ', ' pizza hut 12 cheese pizza ', ' eggplant ', ' limeade ', ' sorghum flour ', ' pizza hut 14 cheese pizza ', ' plantain ', ' vanilla extract ', ' gourd ', ' reddi wip fat free whip topping ', ' cranberry orange relish ', ' lettuce ', ' gelatin ', ' chicken breast tender ', ' shorten frying heavy duty ', ' turkey gravy ', ' mungo bean ', ' jerusalem artichoke ', ' broadbean fava bean ', ' tomato sauce ', ' topping ', ' papa john s 14 cheese pizza ', ' keebler ', ' arrowroot ', ' fig ', ' restaurant ', ' beef macaroni tomato sauce ', ' sherbet ', ' spelt ', ' applebee s ', ' mustard spinach ', ' vegetable oil butter spread ', ' tamale navajo ', ' salmon nugget ', ' doughnut ', ' martha white food ', ' sesbania flower ', ' loquat ', ' soursop ', ' pancake ', ' frosting ', ' piki bread ', ' catsup ', ' milk substitute ', ' pasta ', ' arrowhead ', ' malt beverage ', ' mary s go cracker ', ' creamy dressing ', ' grape juice ', ' poultry ', ' carambola ', ' burger king ', ' hormel tender ', ' liver sausage ', ' lasagna ', ' silk vanilla ', ' potato puff ', ' fennel ', ' cornsalad ', ' plum ', ' silk raspberry soy yogurt ', ' fish broth ', ' vitasoy usa azumaya ', ' gooseberry ', ' lime ', ' soymilk ', ' mother s loaf ', ' horseradish ', ' orange peel ', ' broadbean ', ' silk chocolate ', ' artificial blueberry muffin mix ', ' alfalfa seed ', ' polish sausage ', ' applesauce ', ' cheese sauce ', ' rice noodle ', ' okara ', ' tamale ', ' sweet roll ', ' goji berry ', ' chicory root ', ' purslane ', ' buckwheat ', ' carrabba s italian grill ', ' phyllo dough ', ' rudi s ', ' dutch brand loaf ', ' ham salad spread ', ' tart ', ' clif z bar ', ' pretzel ', ' pasta mix ', ' cranberry sauce ', ' swisswurst ', ' hyacinth bean ', ' croissant ', ' sweet potato puff ', ' school lunch ', ' butter ', ' bagel ', ' banana ', ' pie filling ', ' vitasoy usa nasoya ', ' silk unsweetened ', ' silk vanilla soy yogurt family size ', ' continental mill ', ' nabisco ', ' succotash ', ' tapioca ', ' mango nectar ', ' ostrich ', ' yeast extract spread ', ' quinoa ', ' strawberry ', ' melon ', ' cress ', ' turkey stick ', ' macaroni cheese dinner dry sauce mix ', ' fish oil ', ' yambean jicama ', ' pickle ', ' headcheese ', ' silk plain soy yogurt ', ' milk dessert ', ' chickpea garbanzo bean ', ' tamarind nectar ', ' turkey pot pie ', ' egg roll ', ' caper ', ' acerola juice ', ' kraft cheez whiz light pasteurized process cheese product ', ' soy protein isolate ', ' fat ', ' barley flour meal ', ' buckwheat groat ', ' milk dessert bar ', ' tofu ', ' border ', ' seaweed ', ' chicken tender ', ' salami ', ' pate de foie gra ', ' rice ', ' braunschweiger liver sausage ', ' chew gum ', ' thuringer ', ' rice wheat cereal bar ', ' sapodilla ', ' eppaw ', ' cranberry juice ', ' kielbasa ', ' chokecherry ', ' egg substitute ', ' mothbean ', ' spice ', ' hush puppy ', ' salsify ', ' sandwich spread ', ' fireweed ', ' ice cream sandwich ', ' macaroni cheese loaf ', ' cocoa ', ' taro ', ' new zealand spinach ', ' heart palm ', ' corn bran ', ' onion ring ', ' house food premium soft tofu ', ' raisin ', ' denny s ', ' hazelnut ', ' garlic bread ', ' basil ', ' corn beef loaf ', ' mango ', ' taco shell ', ' beef stew ', ' macaroni ', ' pectin ', ' emu ', ' parsnip ', ' sauce ', ' liverwurst spread ', ' dip ', ' carob flour ', ' wocas ', ' little caesar 14 original round meat vegetable pizza ', ' rice flour ', ' kraft free single american nonfat pasteurize process cheese product ', ' carbonate beverage ', ' silk plus bone health ', ' bacon beef stick ', ' rowal ', ' leek ', ' silk nog ', ' yam ', ' olive loaf ', ' apricot ', ' shorten household soybean hydrogenate palm ', ' mutton ', ' whey ', ' yogurt parfait ', ' lemon peel ', ' pull pork barbecue sauce ', ' pork ', ' corn pudding ', ' silk blueberry soy yogurt ', ' lemon ', ' bread ', ' chili bean ', ' spearmint ', ' tomato vegetable juice ', ' pork loin ', ' cowpea blackeye ', ' butterbur ', ' acerola ', ' tomato juice ', ' digiorno pizza ', ' bacon ', ' babyfood ', ' luncheon sausage ', ' pasta tomato sauce ', ' cookie ', ' game meat ', ' margarine like spread yogurt ', ' coriander cilantro leaf ', ' picnic loaf ', ' chili ', ' nut ', ' cracker ', ' burdock root ', ' george weston bakery ', ' knackwurst ', ' silk peach soy yogurt ', ' chrysanthemum leaf ', ' pheasant ', ' egg custard ', ' vegetable juice cocktail ', ' fluid replacement ', ' tree fern ', ' cranberry juice blend ', ' ginger root ', ' lemon grass citronella ', ' mortadella '}

# Key word for activity

In [10]:
print(activity)

[' steel mill ', ' hang storm window ', ' yoga ', ' disco ', ' aerobics ', ' bowl ', ' child game ', ' watch tv ', ' gymnastic ', ' firefighting ', ' wrestling ', ' archery ', ' remove carper ', ' football ', ' crawl ', ' wash window ', ' basketball ', ' clean rain gutter ', ' wash car ', ' hiking ', ' dig ', ' truck driving ', ' curl ', ' whitewater ', ' heavy cleaning ', ' ice skating ', ' snorkel ', ' bartend ', ' skin diving ', ' heavy equip operator ', ' coach sport ', ' weight lifting ', ' ski machine ', ' rope jumping ', ' forestry ', ' horseback riding ', ' sled ', ' lay sod ', ' masonry ', ' stretch ', ' bath ', ' volleyball ', ' rake lawn ', ' plant tree ', ' weed ', ' martial art ', ' feed ', ' stair step machine ', ' skiing ', ' splitting wood ', ' swimming ', ' badminton ', ' boxing ', ' shovel snow ', ' paint house ', ' plumbing ', ' auto repair ', ' heavy tool ', ' crush rock ', ' server ', ' softball ', ' paint ', ' carry wood ', ' stand ', ' coal mining ', ' water skiing ', ' sit ', ' computer work ', ' billiard ', ' frisbee ', ' office work ', ' plant seedling ', ' unpacking ', ' fence ', ' golf ', ' move ', ' walk ', ' row ', ' water volleyball ', ' race walking ', ' play w kid ', ' lie tile ', ' theater work ', ' rollerblade skating ', ' desk work ', ' food shopping ', ' rock climbing ', ' calisthenic ', ' water polo ', ' teach aerobics ', ' remove tile ', ' child care ', ' orienteer ', ' construction ', ' elliptical trainer ', ' carpentry ', ' wiring ', ' cooking ', ' play game ', ' kayak ', ' hang glide ', ' horse grooming ', ' rider ', ' snow shoeing ', ' sleep ', ' operate snow blower ', ' masseur ', ' soccer ', ' read ', ' stack wood ', ' racquetball ', ' roofing ', ' jog ', ' bicycle ', ' run ', ' mow lawn ', ' skateboard ', ' walk ', ' chop wood ', ' scuba ', ' tai chi ', ' carpentry work ', ' lie carpet ', ' welding ', ' tennis ', ' handball ', ' dance ', ' gardening ', ' hockey ', ' circuit training ', ' sack grasssack leaf ']

In [174]:
food_tree = ahocorasick.Automaton()
for index, word in enumerate(food):
    food_tree.add_word(word,word.strip())
food_tree.make_automaton()

activity_tree = ahocorasick.Automaton()
for index, word in enumerate(activity):
    activity_tree.add_word(word,word.strip())
activity_tree.make_automaton()

In [186]:
fp = open('../data/test.csv', "a") 
wr = csv.writer(fp, dialect='excel')

with open('../data/1.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        activity_temp = list(activity_tree.iter(' '+row[1]+' '))
        food_temp = list(food_tree.iter(' '+row[1]+' '))
        if len(activity_temp) > 0:
            activity_str = ','.join([j for i,j in list(activity_temp)])
        else:
            activity_str = ''
        if len(food_temp) > 0:
            food_str = ','.join([j for i,j in list(food_temp)])
        else:
            food_str = ''
        wr.writerow([row[0], row[1], food_str, activity_str])

In [18]:
import pandas as pd

In [103]:
data_2015_06 = pd.read_csv('../data/2015-06_key_word_with_state.csv',header=None, names=['id','state','text','food','activity','target'])

In [104]:
data_2015_11 = pd.read_csv('../data/2015-11_key_word_with_state.csv',header=None, names=['id','state','text','food','activity','target'])

In [106]:
data_2015_06.shape, data_2015_11.shape

((5454385, 6), (4099229, 6))

In [110]:
data = pd.concat([data_2015_06,data_2015_11],axis=0)

In [111]:
data.shape

(9553614, 6)

# Target = 0, means neither food nor activity is mentioned

In [112]:
data[data['target']==0].head(10)

,id,state,text,food,activity,target
0,605161837743755264,1,wind 00 mph barometer 3007 rise temperature 69...,NaN,NaN,0
1,605161838318370816,47,great group guy celebrate wonderful marriage c...,NaN,NaN,0
2,605161839165599744,54,i push acre i moment,NaN,NaN,0
3,605161840193204224,12,temp 847 f humidity 77 wind sse 31 mph bar...,NaN,NaN,0
4,605161841879330817,10,temp 831f wc 831f wind 42 mph s gust 100 mph b...,NaN,NaN,0
5,605161843376594944,6,wind 16 mph wnw barometer 2983 steady temperat...,NaN,NaN,0
6,605161845134127106,48,i be mr peeples seafood steak houston tx,NaN,NaN,0
7,605161845540814848,27,20 year old unsure clothe i dry way clothe shr...,NaN,NaN,0
8,605161846040076289,51,temp 721 f heatindex 721 f rh 69 wind 23 wnw...,NaN,NaN,0
9,605161847239680000,6,surround good vibe err day day yosemite falls,NaN,NaN,0

# Target  =  1, means only food is mentioned

In [113]:
data[data['target']==1].head(50)

,id,state,text,food,activity,target
19,605161854801952769,13,check piece stack pile lol noodle midtown atlanta,noodle,NaN,1
32,605161864520183808,33,maine raise beef tartare avocado mousse toasts,"beef,avocado",NaN,1
50,605161877556051969,11,pig amazing great job and garlic bbq sauce poi...,"garlic,sauce",NaN,1
52,605161878361382912,36,belong drinking class galli restaurant,restaurant,NaN,1
73,605161911404118017,12,totally sure cosmo mean quick dip ocean flowy ...,dip,NaN,1
111,605161955972792320,6,just post photo anoush le foyer lounge amp ban...,banquet,NaN,1
134,605161990449971200,6,cool vibe open water no worry shaver lake,water,NaN,1
135,605161990714191872,48,my room smell like cherry medicine,cherry,NaN,1
137,605161992245145600,34,karaoke work win 500 the grasshopper pub amp ...,restaurant,NaN,1
151,605162012134514688,36,luv cookie,cookie,NaN,1
156,605162019420033025,42,fat tuesday,fat,NaN,1
185,605162062709432320,36,thank ma faj great day i love guy carmine s r...,restaurant,NaN,1
192,605162070846402562,24,dinner tonight lion s mane mushroom home towso...,mushroom,NaN,1
203,605162085471772673,18,yahtzee chocolate pudding,"chocolate,pudding",NaN,1
209,605162093105541121,26,just add odd side ales bean flicker blonde tap...,bean,NaN,1
214,605162094577782784,6,chicken sandwich donut umm yes streetcar merch...,"chicken,chicken",NaN,1
255,605162143026135040,48,all day happy hour sunday include 1 louisiana...,beef,NaN,1
257,605162147274993664,6,1 white wing dove zenaida asiatica ridgecrest ...,dove,NaN,1
271,605162165666988032,47,i be mcdougal s chicken nashville tn,chicken,NaN,1
305,605162220155203584,42,the bird suggest leaf shake like fly away oh rain,shake,NaN,1
317,605162231509184512,53,need light beer drinking cream ale,cream,NaN,1
337,605162251230814208,48,sobrebarriga dinner sear flank steak next top ...,sauce,NaN,1
343,605162258344386560,48,drink fat tire hyatt regency dallas,fat,NaN,1
356,605162275318730752,12,not kind mushroom i expect good pizza mellow m...,"mushroom,pizza,mushroom",NaN,1
358,605162276727848961,17,i milk wanna expire man,milk,NaN,1
372,605162291290603520,6,honey i be hoooooome hearst castle,honey,NaN,1
375,605162295828848640,45,romeo juliet dock street theatre charleston sc,dock,NaN,1
381,605162308545978368,12,our 6th anniversary dinner rumfish grill the f...,fish,NaN,1
385,605162314409619456,48,first time have rosenberg caramel green apple ...,apple,NaN,1
391,605162325302251520,48,waterloo lavender gin aperol grapefruit corido...,"grapefruit,lemon,spice",NaN,1
400,605162340045230080,12,i be nine dragons restaurant lake buena vista fl,restaurant,NaN,1
409,605162346345021440,12,the ship dock disembark small child booty shak...,"dock,shake",NaN,1
438,605162397075156993,6,giant pretzel garlic parmesan fry up brat yummy,"pretzel,garlic",NaN,1
511,605162491853815808,6,wedding arm candy catamaran resort hotel,candy,NaN,1
517,605162495339307009,55,watch pineapple express sober unethical,pineapple,NaN,1
529,605162504927473665,27,a new sunset casa de cocoa beach,cocoa,NaN,1
548,605162531271913473,42,drive hour round trip place cake foot 10min fo...,cake,NaN,1
572,605162565241577472,34,yesterday asbury kimmee give late strawberry s...,strawberry,NaN,1
574,605162572078325761,39,hahaha ok go watermelon involve,watermelon,NaN,1
591,605162591032365056,23,slice watermelon,watermelon,NaN,1
633,605162636326641664,45,bc water extra pretty sky extra blue sun extra...,water,NaN,1
635,605162638008569856,53,dip princess aly,dip,NaN,1
667,605162686603751424,6,shake fry anaheim ca,shake,NaN,1
670,605162690034712576,6,photo a surfer head icy water icelandampx27s w...,water,NaN,1
675,605162695860596737,42,happy guy 2nd fam season senior baseball banquet,banquet,NaN,1
703,605162727842148352,36,fresh raw coconut milk literally watch guy hac...,milk,NaN,1
723,605162756258578432,6,spanish latte churro ice cream sandwich churro...,"ice cream,cream,ice cream sandwich",NaN,1
724,605162756308910080,51,eat cheese fry amp ice cream,"cheese,ice cream,cream",NaN,1
756,605162796750409728,45,just add angry orchard crisp apple cider tap s...,apple,NaN,1
766,605162811015061504,6,they bagel shape waffle syrup middle,"bagel,waffle,syrup",NaN,1

# Target = 2, means only activity is mentioned

In [114]:
data[data['target']==2].head(50)

,id,state,text,food,activity,target
42,605161870870347776,17,so cute hardly stand tag picture young music e...,NaN,stand,2
87,605161926738329600,26,regional tuesday 7 pm detroit country day plea...,NaN,soccer,2
146,605162005788553217,12,twilight 5 k run walk,NaN,"run,walk",2
150,605162011614449664,6,bowl dublin earl anthony s dublin bowl,NaN,"bowl,bowl",2
231,605162114911604736,41,i know be lot be worth read oh gosh,NaN,read,2
261,605162147346268160,6,1 rose breast grosbeak pheucticus ludovicianus...,NaN,hiking,2
262,605162149082742784,12,me rabbi dan the man shapiro the bath club,NaN,bath,2
363,605162285263233024,6,to earn trust u get to crazy ass shit maybe ru...,NaN,run,2
378,605162303051276289,48,hwămē lead fourth 10th home run season tie 1 1,NaN,run,2
423,605162375738736641,6,the final float paint night mickey mouse i be ...,NaN,paint,2
463,605162431611052032,4,spend day hiking swimming creek,NaN,"hiking,swimming",2
468,605162436606488576,12,paint table birch state park,NaN,paint,2
531,605162507536330752,39,while walk bette mole run path little start di...,NaN,"walk,run,dig",2
543,605162525836079104,25,wet cold windy great great golf course salem c...,NaN,golf,2
565,605162557888966656,8,sunday funday hockey apex center ice arena arv...,NaN,hockey,2
573,605162567871438848,48,the forgery 30x36 spray paint canvas studio,NaN,paint,2
579,605162579015507968,53,cool not watch wrestling tonight,NaN,wrestling,2
585,605162587752394752,6,the little guy wear button shirt pick today ju...,NaN,paint,2
589,605162590637953024,6,i be home good day yuki a s beat yankees 3 0 s...,NaN,hockey,2
614,605162617183838208,36,walk hr 17,NaN,walk,2
619,605162620501508096,53,today great work morning run bit long i end mi...,NaN,run,2
649,605162659697192961,55,wow rt bullpen 1 run 131 innings,NaN,run,2
681,605162702584070144,29,i strongly believe i sleep 3 day straight,NaN,sleep,2
690,605162712209981440,27,i love paint glass canvas amp chardonnay,NaN,paint,2
691,605162712725864449,6,reaseey 7 mile run san bruno mountain run club...,NaN,"run,run",2
705,605162732082438144,20,football,NaN,football,2
716,605162743386251264,6,i be paint amp sip studio la los angeles ca,NaN,paint,2
736,605162771379040256,26,evening walk jordan lake,NaN,walk,2
851,605162916439031809,36,so long may 2015 you great month life dance qu...,NaN,dance,2
876,605162935330193408,45,maybe red bowl asian bistro greenville sc,NaN,bowl,2
908,605162977055133696,13,chris stand like look boss sean murphy like de...,NaN,stand,2
924,605162993870073857,32,my day the legacy golf club,NaN,golf,2
1055,605163142474285057,19,we need pres stand ampfight work ppl i know s ...,NaN,stand,2
1088,605163192852066304,6,walk watercolor shadow seal beach seal,NaN,walk,2
1092,605163195800645633,41,36 hole day forest hills golf course,NaN,golf,2
1130,605163244618190848,26,c o 2018 run man i swearidc anybody,NaN,run,2
1152,605163268043370496,6,love kettner exchange place run katie michelle,NaN,run,2
1318,605163510515929088,22,want imma play game,NaN,play game,2
1339,605163530640338945,31,boom man 800 m row 30 wallballs 20 10 800 m ro...,NaN,"row,row,row",2
1394,605163590857990145,11,play ladder golf have never good sport,NaN,golf,2
1397,605163592946614272,6,hot dog day try bowl congeal block xena love _,NaN,bowl,2
1409,605163616426291200,48,you come innings eat run gorgeous lady,NaN,run,2
1427,605163627809767424,55,sawhorse stand like soldier ready march positi...,NaN,stand,2
1459,605163673338933248,34,2 flight 2 train ride 4 state 3 hour sleep 12 ...,NaN,sleep,2
1461,605163676346261504,48,i finish run 130 mile 11m57s,NaN,run,2
1483,605163712694091776,26,sammy cuddle watch tv dad parents house,NaN,watch tv,2
1520,605163757870948352,12,brian i home dog get second walk time dinner,NaN,walk,2
1657,605163938708393984,55,maybe be not shit n run,NaN,run,2
1690,605163968781512705,6,wbc new generation boxing academy,NaN,boxing,2
1707,605163989870514177,36,get quench 4 ocean walk,NaN,walk,2

# label=3, means both food and activity are mentioned

In [115]:
data[data['target']==3].head(50)

,id,state,text,food,activity,target
91,605161930471403521,53,you mow lawn rob sand oil companionway foss ha...,oil,mow lawn,3
139,605161992869941248,29,i buy cilantro rice chipotle bowl it be pretty...,rice,bowl,3
166,605162034595016706,12,head beach club walk path to from disney s hol...,orange,walk,3
432,605162392306204673,48,be actually laugh picture prove crazy dance ba...,banquet,dance,3
546,605162529178984449,48,i basically move texas avocado casa rodriguez,avocado,move,3
1519,605163757145362432,12,two mile run lunge tricrp dip push up,dip,run,3
2646,605165230004531200,11,where president obama amp bill cosby eat free ...,chili,bowl,3
2953,605165613821112320,13,sunday fun day hiking rain amicalola water fal...,water,hiking,3
3061,605165765046767618,36,get dessert row the michele obama sundae w sho...,dessert,row,3
4016,605167045811019776,48,such photogenic her be muffin she love sit amp...,muffin,sit,3
4076,605167125867687936,17,feed giordano s pizza,pizza,feed,3
4406,605167525102501889,48,18899 serene water dr montgomery tx 77356 430...,water,bath,3
4641,605167858830733315,6,josiah s bday swimming party pizza west valley...,pizza,swimming,3
5085,605168428408782848,13,run find snap turtle,turtle,run,3
5140,605168493282082816,48,pack walk 5312015 knines dfw pit crew turtle c...,turtle,walk,3
5497,605168939740590083,6,try baja bowl 1st time san bean baja fresh,bean,bowl,3
5631,605169120364109825,6,just workin 4 body fat guy wonder st mark exec...,fat,golf,3
5932,605169469699321856,18,at chili s friend server s vince think i will ...,chili,server,3
7147,605171006613934080,27,fun night aspire athlete week banquet rush cre...,banquet,golf,3
8272,605172406848765952,37,volleyball banquet east duplin high,banquet,volleyball,3
9972,605174563895447552,41,thank everyone come creative motions iv duck s...,duck,dance,3
10038,605174664718110721,33,wine paint nite moms mother s day gift martha...,restaurant,paint,3
10192,605174891244060672,6,actually i will water polo lounge the beverly ...,water,water polo,3
10364,605175140163448833,33,wine amp paint nite moms mother s day gift ma...,restaurant,paint,3
11221,605176220230283264,53,home stretch chicken yay yukon harbor,chicken,stretch,3
11995,605177191412957185,4,rotisserie chicken week thank brother toby ass...,chicken,move,3
12070,605177296643858434,34,it be hunt season lamb run search meaning but ...,lamb,run,3
12160,605177391992946688,17,i love eat i find cooking bacon extremely stre...,bacon,cooking,3
13054,605178559951282176,12,iiiiiii stay flossin candy paint,candy,paint,3
13336,605178878856949760,9,wrestling sud drink sun juice trolley crossing,juice,wrestling,3
13395,605178963179253760,36,look like soft shell crab sit atop toast brioc...,avocado,sit,3
13637,605179303798681601,51,turkey life 3 musketeer plus tay congrat the w...,turkey,run,3
13865,605179594807869440,39,banquet tuesday night 6 pm bring uniform warm ...,banquet,run,3
15450,605181746133536769,19,nice run daniel designedbytardy noelridge park...,duck,run,3
15475,605181772427599873,8,kid grass feed beef patty infuse garlic onion,"beef,garlic,onion",feed,3
16128,605182654112276480,4,x mark spot hour water bath this new grill goo...,water,bath,3
16655,605183377235427329,54,go walk bff pepper spray,pepper,walk,3
18584,605185967473852416,48,courtney man this second hand weed smoke make ...,pretzel,weed,3
20257,605188148969107456,42,great choice move fippennes tyler amp nail fish,fish,move,3
20607,605188571738349569,36,sit favorite restaurant nyc journal piece indy...,restaurant,sit,3
21249,605189437555896320,39,lol brown rice chicken corn hot sauce cheese s...,"rice,chicken,corn,sauce,cheese,sour cream,cream",bowl,3
21331,605189565893214208,6,thai ice tea delicious empty bowl gourmet nood...,noodle,bowl,3
21754,605190114181029891,55,dreyer s peach bowl amp frozen custard peach c...,"peach,peach,dessert",bowl,3
23053,605191940439556097,21,do not sleep fish,fish,sleep,3
23983,605193215604600832,39,bath time cutie pie rubadubdub,pie,bath,3
24458,605193890434457600,41,kill beer fuck pizza marry weed,pizza,weed,3
24502,605193944276836352,12,walk dead zombie attack water i be enter new l...,water,walk,3
25493,605195308553932801,4,sugar bowl,sugar,bowl,3
25783,605195743922647040,27,our weekly walk scoop scoops ice cream amp more,"ice cream,cream",walk,3
25905,605195901888536576,12,my dad girlfriend child want cereal i charge d...,cereal,bowl,3

In [117]:
def test(data):
    if len(data)> 0:
        state_id = data.iloc[0,0]
        data = data.iloc[:,1]
        num_zero = sum(data==0)
        num_one = sum(data==1)
        num_two = sum(data==2)
        num_three = sum(data==3)
        result = pd.DataFrame([[(num_one+num_three)/len(data), (num_two+num_three)/len(data), len(data)]], index=[state_id])
        result.index.name = 'state_id'
        return result
    else:
        return pd.DataFrame([[np.nan, np.nan]], index=[data.iloc[0,0]])
key_word_result = data[['state','target']].groupby('state',as_index=False).apply(test)

In [ ]:
key_word_result.set_index('state_id', inplace=True)
key_word_result.columns = ['food','activity', 'total_num_tweet']

In [126]:
key_word_result.columns

Index(['food', 'activity', 'total_num_tweet'], dtype='object')

In [131]:
state = pd.read_csv('../data/state.csv', index_col=[0],header=None,usecols=[0,1,2])
state.columns=['state','state_name']

In [133]:
key_word_result = key_word_result.merge(state, left_index=True, right_index=True)

In [136]:
key_word_result = key_word_result.loc[key_word_result['total_num_tweet'] > 10000,:]

# food and activity mentioned frequency for each state

In [139]:
key_word_result

        food  activity  total_num_tweet state            state_name
1   0.049925  0.047154           103576    AL               Alabama
4   0.052919  0.064200           165857    AZ               Arizona
5   0.046541  0.045529            47442    AR              Arkansas
6   0.055572  0.044842          1529902    CA            California
8   0.054695  0.045481           123942    CO              Colorado
9   0.064361  0.044886            77842    CT           Connecticut
10  0.048779  0.040496            30423    DE              Delaware
11  0.047527  0.036279           114860    DC  District_of_Columbia
12  0.054558  0.037117           757756    FL               Florida
13  0.046797  0.042119           334317    GA               Georgia
16  0.053236  0.051313            19761    ID                 Idaho
17  0.059351  0.041569           350960    IL              Illinois
18  0.054215  0.052750           148833    IN               Indiana
19  0.054603  0.054122            49906    IA                  Iowa
20  0.045265  0.049771            54369    KS                Kansas
21  0.043509  0.040063            97221    KY              Kentucky
22  0.043802  0.039245           158213    LA             Louisiana
23  0.081333  0.048783            24455    ME                 Maine
24  0.046393  0.054028           203393    MD              Maryland
25  0.058181  0.046217           205616    MA         Massachusetts
26  0.055660  0.051219           240263    MI              Michigan
27  0.061548  0.046158           104358    MN             Minnesota
28  0.043786  0.043041            65797    MS           Mississippi
29  0.054338  0.068423           122824    MO              Missouri
30  0.049626  0.043558            12030    MT               Montana
31  0.046578  0.047905            33149    NE              Nebraska
32  0.043299  0.038672           157788    NV                Nevada
33  0.064236  0.044219            23180    NH         New_Hampshire
34  0.060778  0.039487           267202    NJ            New_Jersey
35  0.045765  0.037439            32186    NM            New_Mexico
36  0.055697  0.049810           918170    NY              New_York
37  0.052954  0.043723           269632    NC        North_Carolina
38  0.016891  0.021881            39075    ND          North_Dakota
39  0.057001  0.054848           301468    OH                  Ohio
40  0.044464  0.044970            81099    OK              Oklahoma
41  0.043269  0.033625           184774    OR                Oregon
42  0.058875  0.042744           344187    PA          Pennsylvania
44  0.059028  0.053517            27580    RI          Rhode_Island
45  0.057136  0.044864           125892    SC        South_Carolina
46  0.049896  0.044897            10602    SD          South_Dakota
47  0.049008  0.044816           189153    TN             Tennessee
48  0.048116  0.047070           809065    TX                 Texas
49  0.105268  0.047141            47517    UT                  Utah
50  0.069313  0.039356            11917    VT               Vermont
51  0.053244  0.043742           202597    VA              Virginia
53  0.057455  0.047889           185555    WA            Washington
54  0.037344  0.041310            34544    WV         West_Virginia
55  0.057470  0.043834           105603    WI             Wisconsin

In [140]:
from sklearn import preprocessing
key_word_result[['food','activity']] = preprocessing.scale(key_word_result[['food','activity']])

/Users/qintailiu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/qintailiu/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

# Standardize

In [147]:
key_word_result

        food  activity  total_num_tweet state            state_name
1  -0.283748  0.248546           103576    AL               Alabama
4  -0.033879  2.579105           165857    AZ               Arizona
5  -0.566100  0.026443            47442    AR              Arkansas
6   0.187512 -0.067511          1529902    CA            California
8   0.114309  0.019835           123942    CO              Colorado
9   0.920915 -0.061535            77842    CT           Connecticut
10 -0.379361 -0.661756            30423    DE              Delaware
11 -0.483791 -1.238271           114860    DC  District_of_Columbia
12  0.102921 -1.123625           757756    FL               Florida
13 -0.544750 -0.439854           334317    GA               Georgia
16 -0.007419  0.817225            19761    ID                 Idaho
17  0.502880 -0.515032           350960    IL              Illinois
18  0.074271  1.013721           148833    IN               Indiana
19  0.106608  1.201213            49906    IA                  Iowa
20 -0.672600  0.606376            54369    KS                Kansas
21 -0.819102 -0.720863            97221    KY              Kentucky
22 -0.794686 -0.832809           158213    LA             Louisiana
23  2.337152  0.471360            24455    ME                 Maine
24 -0.578458  1.188451           203393    MD              Maryland
25  0.405229  0.120499           205616    MA         Massachusetts
26  0.194826  0.804329           240263    MI              Michigan
27  0.686148  0.112459           104358    MN             Minnesota
28 -0.795981 -0.313692            65797    MS           Mississippi
29  0.084517  3.156508           122824    MO              Missouri
30 -0.308678 -0.243103            12030    MT               Montana
31 -0.563052  0.351242            33149    NE              Nebraska
32 -0.836669 -0.911071           157788    NV                Nevada
33  0.910506 -0.152679            23180    NH         New_Hampshire
34  0.621915 -0.799666           267202    NJ            New_Jersey
35 -0.630838 -1.079717            32186    NM            New_Mexico
36  0.197899  0.611700           918170    NY              New_York
37 -0.030994 -0.220574           269632    NC        North_Carolina
38 -3.040309 -3.206772            39075    ND          North_Dakota
39  0.306747  1.300545           301468    OH                  Ohio
40 -0.739406 -0.050060            81099    OK              Oklahoma
41 -0.839133 -1.601140           184774    OR                Oregon
42  0.463116 -0.354335           344187    PA          Pennsylvania
44  0.475909  1.118537            27580    RI          Rhode_Island
45  0.318029 -0.064535           125892    SC        South_Carolina
46 -0.286122 -0.059977            10602    SD          South_Dakota
47 -0.360247 -0.071136           189153    TN             Tennessee
48 -0.434673  0.237144           809065    TX                 Texas
49  4.334391  0.246802            47517    UT                  Utah
50  1.334106 -0.817636            11917    VT               Vermont
51 -0.006796 -0.217914           202597    VA              Virginia
53  0.344597  0.349034           185555    WA            Washington
54 -1.333583 -0.550471            34544    WV         West_Virginia
55  0.345873 -0.205340           105603    WI             Wisconsin

# Sort by food

In [145]:
key_word_result.sort_values('food', ascending=False)

        food  activity  total_num_tweet state            state_name
49  4.334391  0.246802            47517    UT                  Utah
23  2.337152  0.471360            24455    ME                 Maine
50  1.334106 -0.817636            11917    VT               Vermont
9   0.920915 -0.061535            77842    CT           Connecticut
33  0.910506 -0.152679            23180    NH         New_Hampshire
27  0.686148  0.112459           104358    MN             Minnesota
34  0.621915 -0.799666           267202    NJ            New_Jersey
17  0.502880 -0.515032           350960    IL              Illinois
44  0.475909  1.118537            27580    RI          Rhode_Island
42  0.463116 -0.354335           344187    PA          Pennsylvania
25  0.405229  0.120499           205616    MA         Massachusetts
55  0.345873 -0.205340           105603    WI             Wisconsin
53  0.344597  0.349034           185555    WA            Washington
45  0.318029 -0.064535           125892    SC        South_Carolina
39  0.306747  1.300545           301468    OH                  Ohio
36  0.197899  0.611700           918170    NY              New_York
26  0.194826  0.804329           240263    MI              Michigan
6   0.187512 -0.067511          1529902    CA            California
8   0.114309  0.019835           123942    CO              Colorado
19  0.106608  1.201213            49906    IA                  Iowa
12  0.102921 -1.123625           757756    FL               Florida
29  0.084517  3.156508           122824    MO              Missouri
18  0.074271  1.013721           148833    IN               Indiana
51 -0.006796 -0.217914           202597    VA              Virginia
16 -0.007419  0.817225            19761    ID                 Idaho
37 -0.030994 -0.220574           269632    NC        North_Carolina
4  -0.033879  2.579105           165857    AZ               Arizona
1  -0.283748  0.248546           103576    AL               Alabama
46 -0.286122 -0.059977            10602    SD          South_Dakota
30 -0.308678 -0.243103            12030    MT               Montana
47 -0.360247 -0.071136           189153    TN             Tennessee
10 -0.379361 -0.661756            30423    DE              Delaware
48 -0.434673  0.237144           809065    TX                 Texas
11 -0.483791 -1.238271           114860    DC  District_of_Columbia
13 -0.544750 -0.439854           334317    GA               Georgia
31 -0.563052  0.351242            33149    NE              Nebraska
5  -0.566100  0.026443            47442    AR              Arkansas
24 -0.578458  1.188451           203393    MD              Maryland
35 -0.630838 -1.079717            32186    NM            New_Mexico
20 -0.672600  0.606376            54369    KS                Kansas
40 -0.739406 -0.050060            81099    OK              Oklahoma
22 -0.794686 -0.832809           158213    LA             Louisiana
28 -0.795981 -0.313692            65797    MS           Mississippi
21 -0.819102 -0.720863            97221    KY              Kentucky
32 -0.836669 -0.911071           157788    NV                Nevada
41 -0.839133 -1.601140           184774    OR                Oregon
54 -1.333583 -0.550471            34544    WV         West_Virginia
38 -3.040309 -3.206772            39075    ND          North_Dakota

# Sort by activity

In [146]:
key_word_result.sort_values('activity', ascending=False)

        food  activity  total_num_tweet state            state_name
29  0.084517  3.156508           122824    MO              Missouri
4  -0.033879  2.579105           165857    AZ               Arizona
39  0.306747  1.300545           301468    OH                  Ohio
19  0.106608  1.201213            49906    IA                  Iowa
24 -0.578458  1.188451           203393    MD              Maryland
44  0.475909  1.118537            27580    RI          Rhode_Island
18  0.074271  1.013721           148833    IN               Indiana
16 -0.007419  0.817225            19761    ID                 Idaho
26  0.194826  0.804329           240263    MI              Michigan
36  0.197899  0.611700           918170    NY              New_York
20 -0.672600  0.606376            54369    KS                Kansas
23  2.337152  0.471360            24455    ME                 Maine
31 -0.563052  0.351242            33149    NE              Nebraska
53  0.344597  0.349034           185555    WA            Washington
1  -0.283748  0.248546           103576    AL               Alabama
49  4.334391  0.246802            47517    UT                  Utah
48 -0.434673  0.237144           809065    TX                 Texas
25  0.405229  0.120499           205616    MA         Massachusetts
27  0.686148  0.112459           104358    MN             Minnesota
5  -0.566100  0.026443            47442    AR              Arkansas
8   0.114309  0.019835           123942    CO              Colorado
40 -0.739406 -0.050060            81099    OK              Oklahoma
46 -0.286122 -0.059977            10602    SD          South_Dakota
9   0.920915 -0.061535            77842    CT           Connecticut
45  0.318029 -0.064535           125892    SC        South_Carolina
6   0.187512 -0.067511          1529902    CA            California
47 -0.360247 -0.071136           189153    TN             Tennessee
33  0.910506 -0.152679            23180    NH         New_Hampshire
55  0.345873 -0.205340           105603    WI             Wisconsin
51 -0.006796 -0.217914           202597    VA              Virginia
37 -0.030994 -0.220574           269632    NC        North_Carolina
30 -0.308678 -0.243103            12030    MT               Montana
28 -0.795981 -0.313692            65797    MS           Mississippi
42  0.463116 -0.354335           344187    PA          Pennsylvania
13 -0.544750 -0.439854           334317    GA               Georgia
17  0.502880 -0.515032           350960    IL              Illinois
54 -1.333583 -0.550471            34544    WV         West_Virginia
10 -0.379361 -0.661756            30423    DE              Delaware
21 -0.819102 -0.720863            97221    KY              Kentucky
34  0.621915 -0.799666           267202    NJ            New_Jersey
50  1.334106 -0.817636            11917    VT               Vermont
22 -0.794686 -0.832809           158213    LA             Louisiana
32 -0.836669 -0.911071           157788    NV                Nevada
35 -0.630838 -1.079717            32186    NM            New_Mexico
12  0.102921 -1.123625           757756    FL               Florida
11 -0.483791 -1.238271           114860    DC  District_of_Columbia
41 -0.839133 -1.601140           184774    OR                Oregon
38 -3.040309 -3.206772            39075    ND          North_Dakota