### In this notebook, the data used is the tokenized version tweets from 2015.

In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
from time import time

In [2]:
tweets1 = pd.read_csv("output_2015_06.csv",index_col=False)
tweets1.drop('Unnamed: 0',axis = 1, inplace = True)

In [3]:
token_15_06 = pd.read_csv("small_2015-06.csv", header=None, names=['Tweet ID', 'Tokenized_tweets'])

In [8]:
token_15_06.head()

             Tweet ID                         Tokenized_tweets
0  611053325644005376                       she say unenthused
1  611162865551192064  for ailment sun remedy none if try find
2  611058983927836673            yeah rest conditioning summer
3  611165766952591360       remind blessed i walk office today
4  611159320655347712    unarmed white teen shot black officer

In [4]:
len(token_15_06)

6615177

In [5]:
token_15_11 = pd.read_csv("small_2015-11.csv", header=None, names=['Tweet ID', 'Tokenized_tweets'])

In [12]:
token_15_11.head()

             Tweet ID                      Tokenized_tweets
0  667224578763067392       christmas tree s like s mansion
1  667221463523581952  kenneth whalum special guests zoocru
2  667224289947590656             us 129 tail of the dragon
3  667233408611975168                              i wish i
4  667228363631775744           i be amp sushi charlotte nc

In [6]:
len(token_15_11) + len(token_15_06)

9255633

In [7]:
# THis time we put all 2015 data to our NMF model. There are 9,255,633 tweets in total.
token_15 =  pd.concat([token_15_06, token_15_11])

In [8]:
len(token_15)

9255633

In [9]:
token_15.head()

             Tweet ID                         Tokenized_tweets
0  611053325644005376                       she say unenthused
1  611162865551192064  for ailment sun remedy none if try find
2  611058983927836673            yeah rest conditioning summer
3  611165766952591360       remind blessed i walk office today
4  611159320655347712    unarmed white teen shot black officer

In [10]:
# drop all null value 
token_15_clean = token_15[token_15['Tokenized_tweets'].notnull()]

In [11]:
len(token_15_clean)

9236748

In [12]:
length = [len(token_15_clean.Tokenized_tweets.iloc[i]) for i in range(len(token_15_clean))]

In [13]:
length.sort()
#length

In [14]:
import warnings
warnings.filterwarnings("ignore")
from plotly import tools
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot,iplot

In [15]:
init_notebook_mode(connected=True)

In [20]:
# Get the distribution of tokenized tweets length 
data = [go.Histogram(x=length)]
layout=go.Layout(title="Distribution of Tokenized Tweets Length", xaxis={'title':'Length of Tokenized Sentence'}, yaxis={'title':'Count'})
figure=go.Figure(data=data,layout=layout)
iplot(figure, filename='basic histogram')

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

### Feed data to NMF model

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

def print_topics(model, feature_names, top_k):
    """
    Print the most important words of each topics
    """
    for ind, topic in enumerate(model.components_):
        print("Topic #" + str(ind+1))
        # print out top k possible features(words)
        print([feature_names[i] for i in topic.argsort()[:-top_k-1:-1]])
    return

In [7]:
top_k = 20 # number of features(words) we want to print
n_topics = 20 # number of topics
random_seed = 1
l1_ratio = 0.5 # regularization
num_features = 10000 # number of features we want to include in model

In [15]:
vectorizer = TfidfVectorizer(max_features=num_features)
nmf_model = NMF(n_components=n_topics, random_state=random_seed, l1_ratio=l1_ratio)

In [17]:
text_tokenized = token_15_clean['Tokenized_tweets']

In [18]:
# There are around 9 million tweets and this time put the first  5 million to feed model
len(text_tokenized)

9236748

In [8]:
print("Extracting tf-idf features for NMF...")
tfidf_vectorizer = TfidfVectorizer(max_df=0.95, min_df=2, max_features=num_features,
                                    stop_words='english')
t0 = time()
tfidf = tfidf_vectorizer.fit_transform(text_tokenized[:5000000])
print("done in %0.3fs." % (time() - t0))

Extracting tf-idf features for NMF...

/Applications/anaconda/lib/python3.6/site-packages/sklearn/feature_extraction/text.py:1059: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

done in 68.836s.

In [23]:
feature_names = tfidf_vectorizer.get_feature_names()
feature_names

['00',
 '000',
 '0000',
 '000in',
 '001',
 '002',
 '003',
 '004',
 '005',
 '006',
 '007',
 '008',
 '009',
 '00kts',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '0700',
 '070415',
 '08',
 '09',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '100th',
 '101',
 '1010',
 '1015',
 '102',
 '102nd',
 '103',
 '1030',
 '104',
 '1045',
 '105',
 '106',
 '107',
 '108',
 '109',
 '1098',
 '10k',
 '10mi',
 '10pm',
 '10th',
 '10x',
 '11',
 '110',
 '1100',
 '111',
 '1111',
 '1115',
 '112',
 '113',
 '1130',
 '114',
 '1145',
 '115',
 '116',
 '117',
 '118',
 '119',
 '11pm',
 '11th',
 '12',
 '120',
 '1200',
 '12000',
 '121',
 '122',
 '122nd',
 '123',
 '1230',
 '125',
 '128',
 '129',
 '12th',
 '13',
 '130',
 '1300',
 '131',
 '134',
 '135',
 '136',
 '138',
 '13th',
 '14',
 '140',
 '1400',
 '145',
 '14th',
 '14u',
 '15',
 '150',
 '1500',
 '151',
 '152',
 '155',
 '159',
 '15th',
 '16',
 '160',
 '1600',
 '162nd',
 '165',
 '16th',
 '17',
 '170',
 '1700',
 '175',
 '17802',
 '17th',
 '18',
 '180',
 '1800',
 '181st',
 '18th',
 '19',
 '190',
 '1900',
 '192',
 '1940',
 '1950',
 '1975',
 '1989',
 '1990',
 '1995',
 '1999',
 '19th',
 '1st',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '201',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '202',
 '2020',
 '2024',
 '205',
 '209',
 '20th',
 '21',
 '210',
 '2100',
 '212',
 '215',
 '216',
 '21st',
 '22',
 '220',
 '2200',
 '224',
 '225',
 '22nd',
 '23',
 '230',
 '2300',
 '231',
 '235',
 '23rd',
 '24',
 '240',
 '2400',
 '245',
 '247',
 '248',
 '24th',
 '25',
 '250',
 '2500',
 '253',
 '25th',
 '26',
 '2600',
 '26th',
 '27',
 '2700',
 '275',
 '27th',
 '28',
 '280',
 '2800',
 '288',
 '28th',
 '29',
 '290',
 '2900',
 '2972inhg',
 '2979',
 '298',
 '2981',
 '2982',
 '2983',
 '2984',
 '2985',
 '2986',
 '2987',
 '2988',
 '2989',
 '299',
 '2991',
 '2992',
 '2993',
 '2994',
 '2995',
 '2996',
 '2997',
 '2998',
 '2999',
 '29th',
 '2day',
 '2k',
 '2k15',
 '2mi',
 '2nd',
 '2night',
 '2nite',
 '2x',
 '30',
 '300',
 '3000',
 '30000',
 '3001',
 '3002',
 '3003',
 '3004',
 '3005',
 '3006',
 '3007',
 '3008',
 '3009',
 '301',
 '3011',
 '3012',
 '3013',
 '3015',
 '3018',
 '303',
 '305',
 '30a',
 '30th',
 '31',
 '310',
 '3100',
 '311',
 '312',
 '313',
 '314',
 '315',
 '31st',
 '32',
 '320',
 '3200',
 '32801',
 '32803',
 '32804',
 '32805',
 '32807',
 '32808',
 '32811',
 '32819',
 '32822',
 '32827',
 '32835',
 '32839',
 '32nd',
 '33',
 '330',
 '3300',
 '33rd',
 '34',
 '345',
 '347',
 '34th',
 '35',
 '350',
 '3500',
 '35th',
 '36',
 '360',
 '3600',
 '365',
 '36th',
 '37',
 '3700',
 '375',
 '37th',
 '38',
 '3800',
 '38th',
 '39',
 '3900',
 '3d',
 '3mi',
 '3rd',
 '3x',
 '40',
 '400',
 '4000',
 '401',
 '405',
 '40th',
 '41',
 '410',
 '4100',
 '415',
 '41st',
 '42',
 '420',
 '4200',
 '42nd',
 '43',
 '430',
 '4300',
 '43rd',
 '44',
 '4400',
 '445',
 '45',
 '450',
 '4500',
 '45th',
 '46',
 '4600',
 '47',
 '4700',
 '48',
 '4800',
 '48th',
 '49',
 '4mi',
 '4pm',
 '4th',
 '50',
 '500',
 '5000',
 '501',
 '502',
 '50th',
 '51',
 '510',
 '5100',
 '512',
 '515',
 '52',
 '520',
 '5200',
 '53',
 '530',
 '530pm',
 '54',
 '545',
 '55',
 '550',
 '56',
 '561',
 '57',
 '574',
 '57th',
 '58',
 '5800',
 '586',
 '59',
 '595',
 '59th',
 '5k',
 '5mi',
 '5pm',
 '5sos',
 '5th',
 '60',
 '600',
 '6000',
 '601',
 '604',
 '605',
 '606',
 '60th',
 '61',
 '610',
 '611',
 '612',
 '61215',
 '613',
 '614',
 '615',
 '616',
 '617',
 '618',
 '619',
 '62',
 '620',
 '621',
 '622',
 '623',
 '624',
 '625',
 '626',
 '62615',
 '627',
 '62715',
 '628',
 '629',
 '63',
 '630',
 '630pm',
 '632',
 '635',
 '64',
 '645',
 '646',
 '65',
 '6515',
 '66',
 '6615',
 '666',
 '67',
 '68',
 '69',
 '698',
 '6mi',
 '6pm',
 '6th',
 '70',
 '700',
 '7000',
 '701',
 '702',
 '703',
 '707',
 '709',
 '71',
 '710',
 '711',
 '712',
 '713',
 '714',
 '715',
 '716',
 '717',
 '718',
 '72',
 '720',
 '725',
 '727',
 '72nd',
 '73',
 '730',
 '730pm',
 '732',
 '734',
 '739',
 '74',
 '745',
 '747',
 '75',
 '750',
 '754',
 '757',
 '76',
 '77',
 '770',
 '772',
 '78',
 '79',
 '790',
 '795',
 '7991',
 '7mi',
 '7pm',
 '7th',
 '80',
 '800',
 '8000',
 '801',
 '805',
 '808',
 '81',
 '815',
 '82',
 '820',
 '827pm',
 '829pm',
 '82nd',
 '83',
 '830',
 '84',
 '845',
 '84th',
 '85',
 '86',
 '86th',
 '87',
 '88',
 '89',
 '8mi',
 '8pm',
 '8th',
 '90',
 '900',
 '9000',
 '901',
 '91',
 '910',
 '911',
 '915',
 '92',
 '92nd',
 '93',
 '930',
 '94',
 '945',
 '95',
 '96',
 '97',
 '98',
 '99',
 '999',
 '9mi',
 '9pm',
 '9th',
 '_ツ_',
 'a1',
 'aa',
 'aaa',
 'aampm',
 'aaron',
 'ab',
 'abandon',
 'abate',
 'abatement',
 'abbey',
 'abbott',
 'abby',
 'abc',
 'abe',
 'ability',
 'able',
 'aboard',
 'abode',
 'abortion',
 'abraham',
 'abs',
 'absolute',
 'absolutely',
 'abt',
 'abuse',
 'abv',
 'ac',
 'academic',
 'academy',
 'accent',
 'accept',
 'acceptable',
 'acceptance',
 'access',
 'accessory',
 'accident',
 'accidentally',
 'accomplish',
 'accomplishment',
 'accord',
 'account',
 'accounting',
 'accurate',
 'accuse',
 'ace',
 'ache',
 'achieve',
 'achievement',
 'acid',
 'acknowledge',
 'acme',
 'acoustic',
 'acquire',
 'acre',
 'acres',
 'acrylic',
 'act',
 'actin',
 'acting',
 'action',
 'activate',
 'active',
 'activist',
 'activity',
 'actor',
 'actress',
 'actual',
 'actually',
 'ad',
 'adam',
 'adams',
 'add',
 'addict',
 'addicted',
 'addiction',
 'addison',
 'addition',
 'additional',
 'address',
 'adidas',
 'adjust',
 'administration',
 'administrative',
 'admire',
 'admission',
 'admit',
 'adopt',
 'adoption',
 'adorable',
 'adore',
 'adrian',
 'adult',
 'advance',
 'advanced',
 'advantage',
 'adventure',
 'adventures',
 'adventurous',
 'advertising',
 'advice',
 'advise',
 'advisor',
 'advisory',
 'advocate',
 'aerial',
 'aesthetic',
 'af',
 'affair',
 'affect',
 'afford',
 'affordable',
 'afraid',
 'africa',
 'african',
 'aftermath',
 'afternoon',
 'ag',
 'agave',
 'age',
 'aged',
 'agency',
 'agenda',
 'agent',
 'aggressive',
 'ago',
 'agree',
 'agreement',
 'ah',
 'aha',
 'ahaha',
 'ahead',
 'ahh',
 'ahhh',
 'ahhhh',
 'ahhhhh',
 'ai',
 'aid',
 'aids',
 'aight',
 'aim',
 'ain',
 'aint',
 'air',
 'aircraft',
 'airline',
 'airlines',
 'airplane',
 'airport',
 'airways',
 'aisle',
 'aj',
 'aka',
 'akron',
 'al',
 'alabama',
 'aladdin',
 'alameda',
 'alamo',
 'alan',
 'alarm',
 'alaska',
 'albany',
 'albert',
 'alberta',
 'album',
 'albuquerque',
 'alcatraz',
 'alcohol',
 'alcoholic',
 'alder',
 'aldridge',
 'ale',
 'alehouse',
 'alert',
 'ales',
 'alex',
 'alexander',
 'alexandria',
 'alexis',
 'alfred',
 'ali',
 'alice',
 'alicia',
 'alien',
 'alike',
 'alive',
 'alki',
 'allege',
 'allegedly',
 'allegheny',
 'allen',
 'allentown',
 'allergic',
 'allergy',
 'alley',
 'alliance',
 'allie',
 'alligator',
 'allison',
 'allow',
 'allston',
 'ally',
 'alma',
 'almcom',
 'almond',
 'aloha',
 'alongside',
 'alot',
 'alpha',
 'alpharetta',
 'alpine',
 'alright',
 'altamonte',
 'alter',
 'alternate',
 'alternative',
 'alto',
 'alum',
 'alumni',
 'alumnus',
 'alvin',
 'alyssa',
 'alzheimer',
 'amalie',
 'amanda',
 'amarillo',
 'amateur',
 'amaze',
 'amazed',
 'amazinf',
 'amazing',
 'amazingly',
 'amazon',
 'ambassador',
 'amber',
 'ambition',
 'ambrose',
 'ambulance',
 'amc',
 'ame',
 'amelia',
 'amen',
 'amendment',
 'america',
 'american',
 'americana',
 'americans',
 'americas',
 'ameritrade',
 'amg',
 'amherst',
 'amid',
 'amigo',
 'amp',
 'amp226amp128amp147',
 'ampamp',
 'amphitheater',
 'amphitheatre',
 'amsterdam',
 'amtrak',
 'amuse',
 'amusement',
 'amy',
 'ana',
 'anaheim',
 'analysis',
 'analyst',
 'anatomy',
 'anchor',
 'ancient',
 'anderson',
 'andor',
 'andover',
 'andre',
 'andrea',
 'andreas',
 'andrew',
 'andrews',
 'android',
 'andy',
 'angel',
 'angela',
 'angeles',
 'angelo',
 'angels',
 'anger',
 'angie',
 'angle',
 'angry',
 'animal',
 'animation',
 'anime',
 'anita',
 'ankeny',
 'ankle',
 'ann',
 'anna',
 'annapolis',
 'anne',
 'annie',
 'anniversary',
 'announce',
 'announcement',
 'annoy',
 'annoyed',
 'annoying',
 'annual',
 'answer',
 'ant',
 'antelope',
 'anthem',
 'anthony',
 'anti',
 'anticipate',
 'anticipation',
 'antioch',
 'antique',
 'antonio',
 'anxiety',
 'anxious',
 'anybody',
 'anymore',
 'anytime',
 'anyways',
 'anza',
 'ap',
 'apache',
 'apart',
 'apartment',
 'apartments',
 'apex',
 'apocalypse',
 'apollo',
 'apologize',
 'apology',
 'apopka',
 'app',
 'apparel',
 'apparently',
 'appeal',
 'appear',
 'appearance',
 'appetite',
 'appetizer',
 'apple',
 'applebee',
 'appleton',
 'appliance',
 'application',
 'apply',
 'appointment',
 'appreciate',
 'appreciation',
 'approach',
 'appropriate',
 'approval',
 'approve',
 'approximately',
 'appt',
 'apricot',
 'april',
 'apt',
 'aqua',
 'aquarium',
 'aquatic',
 'ar',
 'arbor',
 'arboretum',
 'arc',
 'arcade',
 'arcadia',
 'arch',
 'architect',
 'architecture',
 'archive',
 'arclight',
 'ardsley',
 'area',
 'arena',
 'argue',
 'argument',
 'ari',
 'aria',
 'ariana',
 'ariel',
 'arizona',
 'ark',
 'arkansas',
 'arkham',
 'arlington',
 'arm',
 'armed',
 'armory',
 'arms',
 'armstrong',
 'army',
 'arnold',
 'aroma',
 'arrangement',
 'arrest',
 'arrival',
 'arrive',
 'arrogant',
 'arrow',
 'arrowhead',
 'arsenal',
 'art',
 'arthur',
 'artichoke',
 'article',
 'artisan',
 'artist',
 'artistic',
 'artists',
 'arts',
 'artsy',
 'artwork',
 'arugula',
 'asap',
 'asbury',
 'asf',
 'ash',
 'ashamed',
 'ashburn',
 'asheville',
 'ashland',
 'ashley',
 'ashton',
 'asia',
 'asian',
 'aside',
 'ask',
 'asl',
 'asleep',
 'asparagus',
 'aspect',
 'aspen',
 'aspire',
 'ass',
 'assault',
 'assembly',
 'asset',
 'asshole',
 'assignment',
 'assist',
 'assistance',
 'assistant',
 'associate',
 'associated',
 'associates',
 'association',
 'assume',
 'astoria',
 'astro',
 'astros',
 ...]

In [ ]:
# Fit the NMF model
print("Fitting the NMF model with tf-idf features,"
      "n_samples=%d and n_features=%d..." % (len(text_tokenized[:5000000]), num_features))
t0 = time()
nmf = NMF(n_components=n_topics, random_state=1, alpha=.1, l1_ratio=.5).fit(tfidf)
exit()
print("done in %0.3fs." % (time() - t0))
print("\nTopics in NMF model:")
tfidf_feature_names = tfidf_vectorizer.get_feature_names()
print_topics(nmf, tfidf_feature_names, top_k)

Fitting the NMF model with tf-idf features,n_samples=5000000 and n_features=10000...
done in 1125.197s.

Topics in NMF model:
Topic #1
['good', 'friend', 'morning', 'life', 'feel', 'look', 'thing', 'luck', 'world', 'way', 'people', 'today', 'hope', 'bad', 'year', 'pretty', 'ask', 'think', 'god', 'weekend']
Topic #2
['love', 'girl', 'life', 'check', 'easy', 'darkness', 'leave', 'baby', 'guy', 'people', 'friend', 'miss', 'ya', 'man', 'little', 'place', 'fall', 'hate', 'vid', 'beautiful']
Topic #3
['just', 'post', 'photo', 'video', 'park', 'add', 'menu', 'beer', 'lake', 'center', 'tap', 'museum', 'world', 'city', 'island', 'state', 'house', 'bridge', 'point', 'national']
Topic #4
['day', 'father', 'great', 'beautiful', 'today', 'dad', 'school', 'national', 'start', 'long', 'spend', 'summer', 'fathers', 'happy', 'lake', 'hope', 'perfect', 'fun', 'enjoy', 'tomorrow']
Topic #5
['new', 'york', 'ny', 'city', 'brooklyn', 'event', 'check', 'square', 'orleans', 'park', 'jersey', 'nyc', 'times', 'world', 'center', 'museum', 'airport', 'manhattan', 'friend', 'international']
Topic #6
['thank', 'follow', 'god', 'great', 'check', 'amazing', 'darkness', 'support', 'easy', 'leave', 'man', 'awesome', 'miss', 'friend', 'bro', 'make', 'guy', 'year', 'passion', 'hidden']
Topic #7
['today', 'mph', 'rain', 'wind', 'humidity', 'temperature', 'barometer', '000', '00', 'gt', 'steady', 'fall', 'rise', 'slowly', 'pressure', 'temp', '10', 'cloudy', 'gust', 'mb']
Topic #8
['like', 'look', 'feel', 'shit', 'think', 'people', 'fuck', 'girl', 'say', 'bitch', 'buyer', 'act', 'sound', 'talk', 'right', 'man', 'thing', 'hate', 'year', 'make']
Topic #9
['happy', 'birthday', 'father', 'hope', 'friend', 'girl', 'dad', 'make', 'man', 'year', 'bday', 'wish', 'friday', 'hour', 'miss', 'place', 'celebrate', 'fathers', 'big', 'amazing']
Topic #10
['time', 'great', 'long', 'year', 'think', 'game', 'fun', 'wait', 'life', 'spend', 'summer', 'watch', 'week', 'people', 'waste', 'family', 'play', 'little', 'start', 'run']
Topic #11
['know', 'let', 'think', 'people', 'right', 'shit', 'thing', 'girl', 'mean', 'wanna', 'talk', 'tell', 'ya', 'man', 'fuck', 'say', 'guy', 'real', 'oh', 'happen']
Topic #12
['amp', 'bar', 'grill', 'st', 'tonight', 'restaurant', 'open', 'street', 'intersection', 'request', 'case', 'friend', 'ca', 'lounge', 'house', 'hotel', 'close', 'graffiti', 'girl', 'closed']
Topic #13
['lol', 'think', 'shit', 'fuck', 'right', 'oh', 'yeah', 'say', 'yes', 'tho', 'tell', 'try', 'funny', 'man', 'nigga', 'talk', 'bad', 'girl', 'ass', 'damn']
Topic #14
['come', 'home', 'tonight', 'soon', 'wait', 'baby', 'way', 'today', 'check', 'tomorrow', 'mango', 'party', 'visit', 'play', 'ready', 'true', 'watch', 'week', 'let', 'game']
Topic #15
['portland', 'block', 'check', 'police', 'st', 'ave', 'se', 'ne', 'medical', 'med', 'priority', 'sw', 'cold', 'gresham', 'person', 'nw', 'disturbance', 'blvd', 'accident', 'welfare']
Topic #16
['drink', 'ipa', 'ale', 'beer', 'brewing', 'pale', 'house', 'summer', 'company', 'stout', '2015', 'hop', 'brewery', 'bar', 'lager', 'red', 'double', 'white', 'wheat', 'pub']
Topic #17
['want', 'bad', 'life', 'fuck', 'people', 'right', 'think', 'talk', 'thing', 'baby', 'tell', 'leave', 'girl', 'sleep', 'say', 'play', 'man', 'watch', 'home', 'shit']
Topic #18
['night', 'great', 'tonight', 'fun', 'late', 'friday', 'sleep', 'summer', 'tomorrow', 'girl', 'saturday', 'date', 'beautiful', 'game', 'amazing', 'party', 'club', 'watch', 'live', 'park']
Topic #19
['work', 'need', 'hard', 'life', 'today', 'sleep', 'right', 'think', 'home', 'fuck', 'week', 'people', 'way', 'tomorrow', 'let', 'start', 'hour', 'stop', 'thing', 'ready']
Topic #20
['beach', 'miss', 'park', 'south', 'miami', 'fl', 'ca', 'city', 'life', 'long', 'island', 'state', 'san', 'florida', 'ocean', 'lake', 'north', 'myrtle', 'venice', 'club']